@tailwind base;
@tailwind components;
@tailwind utilities;


.body {
    overflow-x: hidden !important;
}

.hero-bg {
    height: 65vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar{
    width: 100vw !important;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}